BODY {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

div.comment {
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

p.createdByDisplayName {
  font-weight: bold;
}

div.textblock {
  background-color: #f9f9f9;
  border: grey 1px solid;
}

div.tags {
  display: flex;
  flex-direction: row;
  justify-content: left;

  div.tag {
      background-color: #f9f9f9;
      border: grey 1px solid;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
  }
}

#bodypane {

  display: flex;
  flex-direction: row;

  #leftpane {
      padding: 5px;
      width: 70%;
  }

  #rightpane {
      padding: 5px;
      width: 30%;
  }

}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.banner-item-left {
  flex: 50%;
  flex-direction: column;
}

.banner-item-right {
  flex: 50%;
  flex-direction: column;
}

.banner-item-row {
  display: flex;
  flex-direction: row;
}

.banner-item-label {
  flex: 20%;
  font-weight: bold;
}

.banner-item-content {
  flex: 80%;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {
  .banner-item-right, .banner-item-left {
    flex: 100%;
  }
}