{% extends "workitem.njk" %}
{% block header %}ADO Feature {{ item.id }}
{% endblock %}
{% block item %}
    <H2>Description</H2>
    <P class="textblock">{{ item.description }}</P>
    <H2>Acceptance Criteria</H2>
    <P class="textblock">{{ item.acceptanceCriteria }}</P>
    <H2>Assumptions</H2>
    <P class="textblock">{{ item.assumptions }}</P>
{% endblock %}