{% macro kanbanRelatedWorkItems(title="Related Items", relatedItems=[]) %}
{% if relatedItems.length %}
<div class="kanban-item-group-label">{{ title }}</div>
<div class="kanban-relatedworkitems-container">
  {% for child in relatedItems %}
   <div class="kanban-relatedworkitems-item">
    {{ child.workitem.workItemType }} {{ child.workitem.state }} {{ kanbanWorkItemLink(child) }}  : {{ child.workitem.title }} [{{ child.workitem.assignedTo.displayName }}]
   </div>
   {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro kanbanItemField(label, value, test=true) %}
{% if test %}
<div class="kanban-item-field">
  <div class="kanban-item-field-label">{{ label }}</div>
  <div class="kanban-item-field-content">{{ value }}</div>
</div>
{% endif %}
{% endmacro %}

{% macro kanbanItemHeader(item) %}
<div class="kanban-item-header">
  {{ kanbanWorkItemLink(item) }} {{ item.title }}
</div>
{% endmacro %}

{% macro kanbanWorkItemLink( item ) %}
  <A HREF="https://dev.azure.com/VP-BD/BDC/_workitems/edit/{{ item.id }}/" TARGET="ADOITEM">{{ item.id }}</A>
{% endmacro %}

<HTML>
    <HEAD>
        <TITLE>
            {% block title %}
                WorkItems
            {% endblock %}
        </TITLE>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/global.css"/>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/kanban.css"/>
        <style type="text/css">
              .kanban-column-width {
                width: {{ 95 / states.length }}%
              }

            </style>
    </HEAD>
    <BODY>
        <H1>
            {% block header %}
                WorkItems
            {% endblock %}
        </H1>

        {% for swimlane in swimlanes %}
          <h2>{{ swimlane }}</h2>
          <div class="kanban-swimlane">
            {% for state in states %}
          
              <div class="kanban-column kanban-column-width">
                
              <div class="kanban-col-header">
                {{ state }}
            </div> 
        
                {% for item in items %}
             
                  {% if (item.state == state and item.swimlane == swimlane) %}
                    
                      {% block item %}
                      <div class="kanban-item">
                        {{ kanbanItemHeader(item) }}
                        {{ kanbanItemField( "Assigned", item.assignedTo.displayName ) }}
                        {{ kanbanItemField( "Priority", item.priority ) }}
                       </div>
                      {% endblock %}  
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
    </BODY>
</HTML>