{% import "common.njk" as common %}

{% macro kanbanRelatedWorkItems(title="Related Items", relatedItems=[], style="kanban-relatedworkitems-item-default") %}
{% if relatedItems.length %}
{{ kanbanItemGroupLabel(title) }}
<div class="kanban-relatedworkitems-container">
  {% for child in relatedItems %}
   <div class="kanban-relatedworkitems-item {{ style }}">
    {{ child.workitem.workItemType }} {{ child.workitem.state }} {{ common.workItemIdTitle(child, global) }}  [{{ child.workitem.assignedTo.displayName }}]
   </div>
   {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro kanbanItemField(label, value, test=true) %}
{% if test %}
<div class="kanban-item-field">
  <div class="kanban-item-field-label">{{ label }}</div>
  <div class="kanban-item-field-content">{{ value }}</div>
</div>
{% endif %}
{% endmacro %}

{% macro kanbanItemHeader(item, global) %}
<div class="kanban-item-header">
  {{ common.workItemIdHref(item, global) }} {{ item.title }}
</div>
{% endmacro %}

{% macro kanbanItemGroupLabel(title) %}
<div class="kanban-item-group-label">{{ title }}</div>
{% endmacro %}

{% macro kanbanItemComments(title = "Comments", comments = []) %}
{% if comments.length %}
{{ kanbanItemGroupLabel(title) }}
<div class="kanban-comments-container">
  {% for comment in comments %}
   <div class="kanban-comments-item-text">
    {{ comment.text | cleanHtml }}
   </div>
   {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro kanbanItemTextblock(contents) %}
<div class="kanban-item-textblock">
  {{ contents | cleanHtml }}
</div>
{% endmacro %}

<HTML>
    <HEAD>
        <TITLE>
            {% block title %}
                WorkItems
            {% endblock %}
        </TITLE>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/global.css"/>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/kanban.css"/>
        <style type="text/css">
              .kanban-column-width {
                width: {{ 95 / states.length }}%
              }

            </style>
            {% block head %}
            {% endblock %}
    </HEAD>
    <BODY>
        <H1>
            {% block header %}
                WorkItems
            {% endblock %}
        </H1>

        {% for swimlane in swimlanes %}
          <h2>{{ swimlane }}</h2>
          <div class="kanban-swimlane">
            {% for state in states %}
          
              <div class="kanban-column kanban-column-width">
                
              <div class="kanban-col-header">
                {{ state }}
            </div> 
        
                {% for item in items %}
             
                  {% if (item.state == state and item.swimlane == swimlane) %}
                    
                      {% block item %}
                      <div class="kanban-item">
                        {{ kanbanItemHeader(item) }}
                        {{ kanbanItemField( "Assigned", item.assignedTo.displayName ) }}
                        {{ kanbanItemField( "Priority", item.priority ) }}
                       </div>
                      {% endblock %}  
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
    </BODY>
</HTML>