{% import "common.njk" as common %}

<HTML>
    <HEAD>
        <TITLE>
            Production Bugs
        </TITLE>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/global.css"/>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/ado-bowtie/style.css"/>
        <LINK REL="stylesheet" TYPE="text/css" HREF="./assets/prod-tracking-index.css"/>
    </HEAD>
    <BODY>
        <H1>
            Provincial Interfaces
        </H1>
        <TABLE class="striped">
            <TR class="headings">
                <TD>Id</TD>
                <TD>Title</TD>
                <TD>Comment</TD>
                <TD>Owner</TD>
                <TD>April</TD>
                <TD>May</TD>
                <TD>Tasks</TD>
                <TD>Ops Proc</TD>
                <TD>Bugs R3.0.4</TD>
                <TD>Bugs Other</TD>
            </TR>
            
            {% for item in items %}
                <TR>
                    <TD>{{ common.workItemIdHref(item, true) }}</TD>
                    <TD>{{ item.title }}</TD>
                    <TD>{{ item.commnets[0] | cleanHtml }}</TD>
                    <TD>{{ item.assignedTo.displayName }}</TD>
                    <TD>{{ item.aprilComplete | okBlank }}</TD>
                    <TD>{{ item.mayComplete | okBlank }}</TD>
                    <TD>{{ common.workItemList(item.tasks | relatedWorkItem | wiFilterExcludeStates(['Closed'])) }}</TD>
                    <TD>{{ common.workItemList(item.opsProcs | relatedWorkItem | wiFilterExcludeStates(['Closed'])) }}</TD>
                    <TD>{{ common.workItemList(item.bugs | relatedWorkItem | wiFilterIncludeIterationPaths(['R3.0.4']) | wiFilterExcludeStates(['Closed'])) }}</TD>
                    <TD>{{ common.workItemList(item.bugs | relatedWorkItem | wiFilterExcludeIterationPaths(['R3.0.4']) | wiFilterExcludeStates(['Closed'])) }}</TD>
                </TR>
            {% endfor %}
    </TABLE>
    </BODY>
</HTML>