{% extends "kanban.njk" %}

{% set states = [ 'New', 'Active', 'Blocked', 'Fixed', 'Resolved' ]  %}

{% block title %}Production Bugs{% endblock %}
{% block header %}Production Bugs{% endblock %}

{% block head %}
<LINK REL="stylesheet" TYPE="text/css" HREF="./assets/prod-bug-kanban.css"/>
{% endblock %}

{% block item %}
<div class="kanban-item kanban-item-{{ item.priority }}">
  {{ kanbanItemHeader(item) }}
  {{ kanbanItemField( "Assigned", item.assignedTo.displayName ) }}
  {{ kanbanItemField( "Priority", item.priority ) }}
  {{ kanbanItemField( "Release", item.iterationPath | shrinkProdIterationPath, item.iterationPath !== "BDC\\OAS\\Production" ) }}
  {{ kanbanItemField( "Partner", item.partner, item.partner !== undefined ) }}
  {{ kanbanRelatedWorkItems( "Tasks", item.relatedTasks ) }}
  {{ kanbanRelatedWorkItems( "Decisions", item.relatedDecisions ) }}
  {{ kanbanRelatedWorkItems( "OpsProcs", item.relatedOpsProc, "prod-bug-opsproc" ) }}
  {{ kanbanItemComments("Last Comment", item.comments | mostRecent ) }}
</div>
{% endblock %}