BODY {
    font-family: Arial, Helvetica, sans-serif;
}

div.comment {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

p.createdByDisplayName {
    font-weight: bold;
}

div.textblock {
    background-color: #f9f9f9;
    border: grey 1px solid;
}

div.tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    div.tag {
        background-color: #f9f9f9;
        border: grey 1px solid;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }
}

#bodypane {

    display: flex;
    flex-direction: row;

    #leftpane {
        padding: 5px;
        width: 70%;
    }

    #rightpane {
        padding: 5px;
        width: 30%;
    }

}